# Week 9: More ways to handle files

### From previous episodes

To read data from a file in Python, we can use the **open()** function along with the file mode **'r'** (read mode). The **with** statement is used to automatically close a file when the indentation is done. The method **.read()** is used to read the content of a file and store them as a string somewhere.

# However

We also know that in Python, you can put block of codes into functions, and you can also import libraries that let you do many steps with less lines of code

## Pandas

**pandas** is a powerful library in Python for data manipulation and analysis. It provides a DataFrame object, which is a two-dimensional table-like data structure, similar to a spreadsheet or a SQL table. These are some commonly used functions and methods available with **pandas** **DataFrames**:

1. Creating a DataFrame:
   - `pd.DataFrame(data)`: Creates a DataFrame from a dictionary, or a list of dictionaries.
   - `pd.read_csv('filename.csv')`: Reads a CSV file and returns a DataFrame.

2. Exploring the DataFrame:
   - `df.columns()`: Returns a list of columns of the DataFrame. You should write `df.columns.tolist()` to get a proper list
   - `df.head(n)`: Returns the first `n` rows of the DataFrame.
   - `df.tail(n)`: Returns the last `n` rows of the DataFrame.
   - `df.info()`: Provides a summary of the DataFrame, including column names, data types, and non-null counts.
   - `df.shape`: Returns the dimensions of the DataFrame (number of rows, number of columns).
   - `df.describe()`: Generates descriptive statistics of numerical columns, such as count, mean, min, max, etc.

3. Accessing and manipulating data:
   - `df[column_name]`: Returns a specific column as a Series.
   - `df[[col1, col2, ...]]`: Returns a subset of columns as a new DataFrame.
   - `df.loc[row_label, column_label]`: Accesses a specific element or a range of elements using labels.
   - `df['new_column'] = value`: Adds a new column with a specified value.
   - `df.drop(columns=['col1', 'col2'])`: Removes specified columns from the DataFrame.

4. Data manipulation:
   - `df.sort_values(by='column')`: Sorts the DataFrame by a specific column.
   - `df.groupby('column')`: Groups the DataFrame by a specific column.
   - `df.pivot_table(values='value', index='index_col', columns='col')`: Creates a pivot table from the DataFrame.
   - `df.apply(function)`: Applies a function to each element, row, or column of the DataFrame.
   - `df.replace(old, new)`: Replaces values in the DataFrame with new values.
   - `df.merge(other_df, on='column')`: Combines two DataFrames based on a common column.

5. Data aggregation and summarization:
   - `df.groupby('column').mean()`: Computes the mean value for each group.
   - `df.groupby('column').sum()`: Computes the sum for each group.
   - `df.groupby('column').count()`: Computes the count for each group.
   - `df.groupby('column').max()`: Finds the maximum value for each group.
   - `df.groupby('column').min()`: Finds the minimum value for each group.

Of course there is more to pandas, I link the documentation below if you want to know more.
**Important**
**Pandas** is not a built-in library in python, which means you must install it before using it.

`!pip install pandas`

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['John', 'Emily', 'Charlie'],
        'Age': [25, 30, 35]}
df1 = pd.DataFrame(data)

# Creating a DataFrame from a CSV file
df = pd.read_csv('pandascsv.csv')

In [ ]:
df

In [ ]:
# Getting the first 5 rows of the DataFrame
df.head()

In [ ]:

# Getting the last 5 rows of the DataFrame
df.tail() 
# the dataframe is very short in this case, so that is why head and tail are
# the same

In [ ]:
# Getting summary information about the DataFrame
df.info()

In [ ]:
# Getting the dimensions of the DataFrame
df.shape

In [ ]:
# Generating descriptive statistics of numerical columns
df.describe()

# Insight: percentiles
"a value on a scale of 100 that indicates the percent of a distribution that is equal to or below it" (Merriam Webster)

"Percentiles are a type of quantiles, obtained adopting a subdivision into 100 groups. The 25th percentile is also known as the first quartile (Q1), the 50th percentile as the median or second quartile (Q2), and the 75th percentile as the third quartile (Q3). For example, the 50th percentile (median) is the score below (or at or below, depending on the definition) which 50% of the scores in the distribution are found." (Wikipedia)

“Percentile.” Merriam-Webster.com Dictionary, Merriam-Webster, https://www.merriam-webster.com/dictionary/percentile. Accessed 30 Jan. 2025.
“Percentile.” Wikipedia.org, Wikipedia Collaborators, https://en.wikipedia.org/wiki/Percentile. Accessed 30 Jan. 2025.

In [ ]:
# Accessing a specific column as a Series
column = df['Salary']

In [ ]:
list(column)

In [ ]:
# Accessing a subset of columns as a new DataFrame
subset = df[['Name', 'Age']]

In [ ]:
subset

In [ ]:

# Accessing a specific element using labels
element = df.loc[0, 'Name']

In [ ]:
element

In [ ]:

# Adding a new column with a specified value
df['Relationship Status'] = 'Single'

In [ ]:
df

In [ ]:
 #changing the content of a specific
#cell
for i, content in enumerate(df["Name"]):
    if content == "John":
        df.at[i, "Relationship Status"] = "Complicated story"
        print(df["City"][i])

In [ ]:
df

In [ ]:
# You can also add a new column by using a list,
# make sure that the list length is the same as the number of rows in the df
# Also the order in which the items matters, first item will be attached to the first row,
# etc...

df["Relationship Status"] = ["Single", "Married", "Complicated Story", "No comment"]

In [ ]:
df

In [ ]:

# Removing specified columns from the DataFrame
df.drop(columns=['Relationship Status'])

In [ ]:
# Sorting the DataFrame by a specific column
df = df.sort_values(by='Name')

In [ ]:
df

In [ ]:
# Grouping the DataFrame by a specific column
grouped = df.groupby('City')

# we see later what happens with grouped

In [ ]:
# Applying a function to each element, row, or column of the DataFrame
df.apply(lambda x: x * 2) # this is just for showing, lambda is actually quite
#complex and I will not ask you to use it

In [ ]:
# Replacing values in the DataFrame with new values
df = df.replace('New York', 'Los Angeles')

In [ ]:
df

In [ ]:
df1

In [ ]:

# Combining two DataFrames based on a common column
merged = df.merge(df1, on='Name')

In [ ]:
merged

Merge will automatically add suffixes to your dataframes columns if the merged dataframes share the name of the columns. If you don't want to have any suffixes added to the column names during the merge operation, you can specify the suffixes parameter as an empty string ''. This will keep the original column names intact without any modifications.

In [ ]:
import pandas as pd

# Create the first DataFrame
data1 = {'ID': [1, 2, 3],
         'Name': ['John', 'Alice', 'Bob'],
        "Age":[10,12,15]}
df1 = pd.DataFrame(data1)

# Create the second DataFrame
data2 = {'ID': [2, 3, 4],
         'Age': [30, 35, 40]}
df2 = pd.DataFrame(data2)

# Merge the DataFrames without suffixes
merged_df = df1.merge(df2, on='ID', suffixes=('a', 'a'))

# Print the merged DataFrame
print(merged_df)

To add the content of one DataFrame to another DataFrame, you can use the `concat()` function.

It will combine the rows of the two DataFrames vertically, effectively adding the content of one DataFrame to another.

In [ ]:

import pandas as pd

# Create the first DataFrame
data1 = {'Name': ['John', 'Alice', 'Bob'],
         'Age': [25, 30, 35]}
df1 = pd.DataFrame(data1)

# Create the second DataFrame
data2 = {'Name': ['Charlie', 'David'],
         'Age': [40, 45]}
df2 = pd.DataFrame(data2)

# Concatenate the two DataFrames vertically
concatenated_df = pd.concat([df1, df2])

# Print the concatenated DataFrame
print(concatenated_df)

In [ ]:
concatenated_df = concatenated_df.reset_index()

In [ ]:
concatenated_df.shape[0]

In [ ]:
concatenated_df.drop(columns="index")

In [ ]:
df

## Data aggregation and summarization

In [ ]:
grouped = df.groupby('City')

In [ ]:
# Computing the mean value for each group
grouped.mean(numeric_only = True)

In [ ]:
# Computing the sum for each group
grouped.sum(numeric_only=True)

In [ ]:
# Computing the count for each group
grouped.count()

In [ ]:
# Finding the maximum value for each group
grouped.max(numeric_only=True)

In [ ]:
# Finding the minimum value for each group
grouped.min(numeric_only=True)

## What is a pivot table?

A pivot table is a data summarization technique in pandas that allows you to restructure and analyze data by grouping and aggregating it based on specific criteria. It provides a way to create a multi-dimensional table where data can be viewed from different perspectives.

In a pivot table, you can specify one or more columns as the index, another column as the columns, and a third column as the values. The values in the table are then aggregated based on the combinations of index and column values.

The **pivot_table()** function in pandas is used to create a pivot table from a DataFrame. It takes several parameters, including values, index, and columns, to specify the columns to be aggregated, the rows for the index, and the columns for the columns.

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Emily', 'Charlie', 'Emily', 'John'],
        'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'New York'],
        'Sales': [1000, 2000, 1500, 3000, 2500]}
df = pd.DataFrame(data)

# Create a pivot table to aggregate sales by name and city
pivot_table = df.pivot_table(values='Sales', index='Name', columns='City', aggfunc='sum')

print(pivot_table)

## Iterating over rows of a dataframe

We use **dataframe_name.iterrows()** to iterate over rows of a DataFrame

In [ ]:
import pandas as pd

data = pd.read_csv('data.csv')
for index, row in data.iterrows():
    print(index)
    print(row['Name'], row['Age'])

## Reading and Writing Excel Files with pandas

You can use the **.read_excel("excel_filename")** method to read excel data using Pandas. It might be required that you install additional libraries for this function.

You can use the **dataframe.to_excel("excel_filename_for_output, index=either False or True)** to write the content of an excel file to a file.

You need to install **openpyxl** package first to handle excel files.

In [ ]:
!pip install openpyxl

In [ ]:
data = pd.read_excel('data.xlsx')
print(data)

In [ ]:
data = {'Name': ['John', 'Sarah', 'Michael'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

df.to_excel('output.xlsx', index=False)

## More pandas

Check the documentation [here](https://pandas.pydata.org/docs/)

# Exercises

## Dataset for testing

Use the `unesco_heritage_sites.csv` to test the functions


### Exercise 1: Basic Exploration
**Develop a function `get_column_names(df)`** that takes a pandas DataFrame as input and returns a list of column names.

---

### Exercise 2: Filtering Data
**Develop a function `filter_by_category(df, category)`** that takes a pandas DataFrame and a category (either `"Cultural"`, `"Natural"`, or ` in our case)Mixed"`) and returns a new DataFrame containing only the rows that match the given  in the given columncategory.

---

### Exercise 3: Counting Rows
**Develop a function `count_sites_per_country(df, country)`** that takes a pandas DataFrame and a country name as input and returns the number of heritage sites located in that country.

---

### Exercise 4: Sorting Data
**Develop a function `get_top_visited_sites(df, n)`** that takes a DataFrame and a number `n` as input and returns the top `n` most visited heritage sites sorted in descending order.

---

### Exercise 5: Categorizing Sites by Visitors
**Develop a function `categorize_sites_by_visitors(df)`** that adds a new column `"VisitorCategory"` to the DataFrame based on the number of visitors per year:
- `"High"`: More than 5 million visitors
- `"Medium"`: Between 1 and 5 million visitors
- `"Low"`: Less than 1 million visitors  

The function should return the modified DataFrame.

---

### Exercise 6: Counting Threatened Sites
**Develop a function `count_threatened_sites(df)`** that returns the total number of threatened heritage sites.

---

### Exercise 7: Grouping by Country
**Develop a function `get_site_counts_by_country(df)`** that returns a dictionary where each key is a country, and the value is the number of heritage sites in that country.

---

### Exercise 8: Finding Sites Inscribed Before a Given Year
**Develop a function `sites_before_year(df, year)`** that takes a DataFrame and a year as input, returning a new DataFrame containing only the sites inscribed before that year.

---

### Exercise 9: Adding New Sites from a Dictionary
**Develop a function `add_new_sites(df, new_sites_dict)`** that takes a DataFrame and a dictionary containing new heritage sites. The function should:
1. Convert the dictionary into a new DataFrame.
2. Concatenate it with the original DataFrame.
3. Return the updated DataFrame.

---

### Exercise 10: Finding the Largest Site per Country
**Develop a function `largest_site_per_country(df)`** that returns a new DataFrame containing only the largest heritage site (in terms of area) for each country.

In [ ]:
# For exercise 9

new_sites_dict = {
    "Name": ["Ancient Ruins of Tikal", "Great Zimbabwe National Monument"],
    "Country": ["Guatemala", "Zimbabwe"],
    "Category": ["Cultural", "Cultural"],
    "Year Inscribed": [1979, 1986],
    "Visitors Per Year": [200000, 50000],
    "Threatened": [False, False],
    "Area (sq km)": [16, 7.2]
}